<section class="ab-dashboard__container__time" #schedule>
  @if(loadingService.loading()){
  <ab-loading-overlay></ab-loading-overlay>
  } @else{
  <ab-task-dialog
    [display]="taskService.displayTask"
    [taskData]="taskData()"
    (taskBookingInformation)="taskDialogData($event)"
  >
  </ab-task-dialog>
  <app-edit-task-dialog
    [display]="taskService.displayEditTask"
    [taskData]="taskService.editData"
    (taskBookingInformation)="editTask($event)"
    (deleteTaskId)="deleteTask($event)"
  >
  </app-edit-task-dialog>
  <ab-delete-notification
  [display]="taskService.displayDelete"
  [deleteData]="deleteData"
  >
  </ab-delete-notification>
  <ab-schedule
    (taskEvent)="receiveTask($event)"
    (dateChangeEvent)="receiveDateChange($event)"
    [date]="date"
    [timeBlocksSubject]="timeBlocksSubject"
  >
  </ab-schedule>
  }
</section>
