<div class="ab-schedule-tile-container" id="{{ id }}">
  <div #quarter
    class="ab-schedule-tile-container__block"
    id="{{ quarterHourBlockIds[0] }}"
    (click)="emitTileInformation(0)"
  ></div>
  <div #quarter
    class="ab-schedule-tile-container__block"
    id="{{ quarterHourBlockIds[1] }}"
    (click)="emitTileInformation(1)"
  ></div>
  <div #quarter
    class="ab-schedule-tile-container__block"
    id="{{ quarterHourBlockIds[2] }}"
    (click)="emitTileInformation(2)"
  ></div>
  <div #quarter
    class="ab-schedule-tile-container__block"
    id="{{ quarterHourBlockIds[3] }}"
    (click)="emitTileInformation(3)"
  ></div>
</div>
