@import "../../../../styles/index.scss";

:host {
  @include flex-column-justify-align($event-tile, 100%, center, center);
}
.ab-schedule-tile-container {
  @include flex-column-justify-align($event-tile, 100%, center, center);
}

.ab-schedule-tile-container__block {
  @include flex-column-justify-align(25%, 100%, center, center);

  border-bottom: solid rgb(162, 162, 162) 1px;
}

.ab-schedule-tile-container__block:hover {
  background-color: $main-blue;
  cursor: pointer;
}
