// Border Radius Variables
$radius-nrm: 16px;
$radius-xl: 24px;
$radius-xxl: 36px;
// Padding Variables
$padding-md: 5px;

// Margin Variables
$nav-margin-top: 10px;
$margin-lg: 20px;
//Gap Variables
$gap-sm: 3px;
$gap-md: 5px;
$gap-lrg: 10px;
$gap-xl: 20px;
//Input Fields
$indent-sm: 10px;

//dashboard

$min-wd-dash-cont: 1200px;

// schedule
$min-width-schedule-col: 150px;
$min-width-schedule-time: 100px;
$tool-bar-hgt:200px;
$day-tool-bar-hgt:40px;

$time-nav-bar-hgt:40px;