<div class="ab-task-dialog__container">
    <div class="ab-task-dialog__container__x-button">
      <div
        class="ab-task-dialog__container__x-button__container"
        (click)="closeTask()"
      >
        <img src="../../../../assets/icons/x-button-100.png" />
      </div>
    </div>
    <div>
      {{editTaskTitle}}
    </div>
    <div class="ab-task-dialog__container__task-input">
      <input placeholder="Enter your task here" [formControl]="task" />
    </div>
    <div class="ab-task-dialog__container__project">
      <div class="ab-task-dialog__container__project__project-link">
        <div class="ab-task-dialog__container__project__project-link__container">
          <img src="../../../../assets/icons/add-90.png" />
        </div>
      </div>
      <div>{{linkProjectText}}</div>
    </div>
    <div class="ab-task-dialog__container__times">
      <div class="ab-task-dialog__container__times__input">
        <select value="{{ startTime }}" [formControl]="startTime">
          @for(option of options; track option){
          <option>
            {{ option["label"] }}
          </option>
          }
        </select>
      </div>
      <div class="ab-task-dialog__container__times__input">
        <select value="{{ endTime }}" [formControl]="endTime">
          @for(option of options; track option){
          <option>
            {{ option["label"] }}
          </option>
          }
        </select>
      </div>
    </div>
    <div class="ab-task-dialog__container__buttons">
      <div class="ab-task-dialog__container__buttons__alignment">
        <ab-button [text]="'Edit Task'" (click)="editTask()"></ab-button>
        <ab-button [text]="'Delete Task'" (click)="deleteTask()"></ab-button>
      </div>
    </div>
  </div>
  