<main class="ab-schedule-container">
  <div class="ab-schedule-container__toolbar">
      <ab-navigation-bar 
      [options]="navBarInputs">

      </ab-navigation-bar>

    
    <div class="ab-schedule-container__toolbar__tools">
      <div class="ab-schedule-container__toolbar__date">
        <div class="ab-schedule-container__toolbar__date__day">
          {{ currentDate }}
        </div>

        <div class="ab-schedule-container__toolbar__date__buttons">
          <ab-button [text]="'Previous'" (click)="changeWeek(-1)"></ab-button>
          <ab-button [text]="'Next'" (click)="changeWeek(1)"></ab-button>
        </div>
      </div>
      <div
        class="ab-schedule-container__toolbar__tools__weekly-hours"
        #weeklyTotal
      ></div>
    </div>

    @if(state() === "day"){
    <div class="ab-schedule-container__day-toolbar">
      <div class="ab-schedule-container__day-toolbar__alignment">
        @for(day of daysOfTheWeek; track day){
        <div class="ab-schedule-container__day-toolbar__day">
          <div class="ab-schedule-container__day-toolbar__day__container">
            <div
              class="ab-schedule-container__day-toolbar__day__container__day"
            >
              {{ getDateStringArray(day)[0].toUpperCase() }}
            </div>
            <div
              class="ab-schedule-container__day-toolbar__day__container__date"
            >
              <div
                class="ab-schedule-container__day-toolbar__day__container__date__month"
              >
                {{ getDateStringArray(day)[1].toUpperCase() }}
              </div>
              <div
                class="ab-schedule-container__day-toolbar__day__container__date__day-number"
              >
                {{ getDateStringArray(day)[2].toUpperCase() }}
              </div>
            </div>
          </div>
          <div
            class="ab-schedule-container__day-toolbar__day__hours-calculated"
            id="'calculate-{{ day.toLowerCase() }}'"
            #totalTime
          ></div>
        </div>
        }
      </div>
    </div>
    }
  </div>

  <!--The Schedule Component of the Schedule Page-->
  <div class="ab-schedule-container__time-blocks">
    <div class="ab-schedule-container__time-blocks__times">
      @for(hour of hoursArray; track hour){
      <div class="ab-schedule-container__time-blocks__times__hour-tile">
        {{
          hour < 12
            ? hour === 0
              ? 12 + ":00 AM"
              : hour + ":00 AM"
            : hour === 12
            ? hour + ":00 PM"
            : hour - 12 + ":00 PM"
        }}
      </div>
      }
    </div>
    @for(day of daysOfTheWeek; track day){
    <div
      class="ab-schedule-container__time-blocks-container"
      #timeBlockContainer
    >
      <div class="ab-schedule-container__time-blocks__day-column">
        @for(hour of hoursArray; track hour){
        <ab-schedule-tile
          #tile
          (tileInformation)="receiveTileData($event)"
          [date]="
            convertDateStringToDate(
              day + '-' + currentMonth + '-' + getDay(day) + '-' + year
            )
          "
          [hour]="hour"
        ></ab-schedule-tile>
        }
      </div>
      <!--the overlay for events aka time booked-->
      <div
        eventViewContainer
        #event="eventViewContainer"
        class="ab-schedule-container__time-blocks-container__event"
      ></div>
      <!--the overlay for events aka time booked-->
    </div>
    }
  </div>
</main>
