@import "../../../styles/index.scss";

:host {
  @include flex-column-justify-align(100%, 100%, center, center);
}

.ab-schedule-container {
  @include flex-column-justify-align(100%, 100%, start, center);
  // border:solid pink 1px;
}

.ab-schedule-container__toolbar {
  @include flex-column-justify-align(
    $tool-bar-hgt,
    100%,
    space-between,
    center
  );
  border-bottom: solid rgb(162, 162, 162) 1px;

  //  background-color: $light-blue;
}

.ab-schedule-container__toolbar__statistics {
  @include flex-column-justify-align(100px, 100%, center, start);

  // border: solid red 1px;
  &__alignment {
    @include flex-column-justify-align(80%, 100%, start, start);
    // border: solid red 1px;

    &__toolbar {
      @include flex-row-justify-align(20%, 100%, start, center);
      // border: solid red 1px;
      padding: 5px 0px;

      &__title {
        font-weight: bold;
        margin-right: 10px;
      }

      &__buttons {
        @include flex-row-justify-align(100%, 100%, start, center);
        gap: 5px;
      }
    }
  }
}

.ab-schedule-container__toolbar__tools {
  @include flex-row-justify-align(
    calc($tool-bar-hgt - $day-tool-bar-hgt),
    100%,
    start,
    center
  );
}

.ab-schedule-container__toolbar__date {
  @include flex-column-justify-align(100%, 20%, center, center);
  //  border:solid red 1px;
  padding: 0px 20px;
  font-size: 1.25em;
  gap: 10px;
  min-width: 222px;

  &__day {
    @include flex-row-justify-align(auto, 100%, start, start);
  }

  &__buttons {
    @include flex-row-justify-align(auto, 100%, start, center);

    gap: 5px;
  }
}

.ab-schedule-container__day-toolbar {
  @include flex-row-justify-align($day-tool-bar-hgt, 100%, end, center);
  min-width: calc(7 * $min-width-schedule-col + $min-width-schedule-time);
}

.ab-schedule-container__day-toolbar__alignment {
  @include flex-row-justify-align(100%, calc(100% - 100px), center, center);
  //   border: solid green 1px;
  //   margin-right: 6px;
  min-width: calc(7 * $min-width-schedule-col);
}

.ab-schedule-container__day-toolbar__day {
  @include flex-column-justify-align(100%, calc(100% / 7), center, center);
  min-width: 150px;
}

.ab-schedule-container__day-toolbar__day__container {
  @include flex-row-justify-align(50%, 95%, space-between, center);
  font-size: 0.75em;
  &__day {
    font-size: 1em;
    font-weight: bold;
  }

  &__date {
    @include flex-row-justify-align(auto, 95%, end, center);
    gap: 5px;

    &__month {
      @include flex-column-justify-align(100%, auto, end, center);

      font-weight: bold;
    }
    &__day-number {
      font-size: 1.5em;
      font-weight: bold;
    }
  }
}

.ab-schedule-container__day-toolbar__day__hours-calculated {
  @include flex-row-justify-align(50%, 95%, space-between, center);
  font-size: 0.75em;
}

.ab-schedule-container__time-blocks {
  @include flex-row-justify-align(calc(100% - 120px), 100%, start, start);
  position: relative;

  // border:solid red 1px;
  //   overflow: hidden scroll;
  overflow: hidden auto;
}

.ab-schedule-container__time-blocks::-webkit-scrollbar {
  width: 6px;
  height: 12px;
}

.ab-schedule-container__time-blocks::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.ab-schedule-container__time-blocks::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ab-schedule-container__time-blocks__day-column {
  @include flex-column-justify-align(calc(200px * 24), 100%, start, center);
  border-right: solid rgb(162, 162, 162) 1px;
  z-index: 1;
}

.ab-schedule-container__time-blocks__times {
  @include flex-column-justify-align(calc(200px * 24), 100px, start, center);
  min-width: $min-width-schedule-time;
}

.ab-schedule-container__time-blocks__times__hour-tile {
  @include flex-column-justify-align(200px, 100px, center, center);
  border-bottom: solid rgb(162, 162, 162) 1px;
  border-right: solid rgb(162, 162, 162) 1px;
  font-size: 0.75em;
}

.ab-schedule-container__time-blocks-container {
  @include flex-column-justify-align(calc(200px * 24), 100%, start, center);
  position: relative;
  min-width: $min-width-schedule-col;
}

// this is the overlay for events ------

.ab-schedule-container__time-blocks-container__event {
  @include flex-column-justify-align(calc(200px * 24), 100%, start, center);
  position: absolute;
  top: 0;
  left: 0;
  min-width: $min-width-schedule-col;
}

// this is the overlay for events ------

.ab-schedule-container__time-blocks-container__day {
  @include flex-column-justify-align(20px, 100%, center, center);
  min-width: $min-width-schedule-col;
}

.booked {
  background-color: $main-blue;
}

::ng-deep .ab-schedule-event {
  @include flex-column-justify-align(auto, 100%, center, center);
  position: absolute;
  background-color: $main-blue;
  opacity: 0.9;
  z-index: 2;
  border-radius: 8px;
  font-size: 0.8em;
  box-shadow: 0px 0px 5px 0px grey;
  min-width: $min-width-schedule-col;
  .ab-schedule-event__container {
    @include flex-column-justify-align(80%, 80%, space-between, center);

    .ab-schedule-event__container__title {
      @include flex-row-justify-align(auto, 100%, start, center);
      font-weight: 500;
    }

    .ab-schedule-event__container__time {
      @include flex-row-justify-align(auto, 100%, start, center);
    }
  }
}
