@font-face {
    font-family: "main";
    src:url('./assets/fonts/montserrat.ttf')
}

$main-color: #e8eaed;
html {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-family: "main";
  min-height: 525px;
  background: linear-gradient(to bottom, #d5eaf0, #ffffff);
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
